<div>
    <div style="background-color: rgb(2, 59, 9)">
        <div class="row">
            <div class="col-md-1 col-lg-1"><img src="../../assets/images/logo.png" alt="logo" style="width: 250px; height: 100px"/></div>
            <div class="col-md-1 col-lg-1"><h3 style="color: rgb(2, 59, 9);">{{title}}</h3></div> 
        
        <div class="col-md-8 col-lg-8" ><h2 style="color: white; text-align: center;">Development Bank of Ethiopia Interest Free Banking</h2></div>
        
        <div class="col-md-1 col-lg-1"><img src="../../assets/images/logo.png" alt="logo" style="width: 250px; height: 100px"/></div>
        <div class="col-md-1 col-lg-1"><h3 style="color: rgb(2, 59, 9);">{{title}}</h3></div> 
    
    </div>
     </div>
     <div class="row">
        <div class="col-md-12 col-xl-12">
          <app-toolbar></app-toolbar>
        </div>
      </div>
    </div>
