<div class="container col-md-4">
    <form (ngSubmit)="userLogin()" class="">
        <h1 style="color: brown;">Login</h1>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">User Name</label>
            <input type="text" [(ngModel)]="user.userId" class="form-control" name="userId" id="userId" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password"  [(ngModel)]="user.password" class="form-control" name="password" id="password">
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Primary</button>
            
          </div>
          <div><p style="color: red;">{{message}}</p></div>
</form>
</div>