<div class="logins">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 felement">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="box" style="background-color: rgb(194, 185, 185);">
        <mat-card-header>
          <mat-card-title>
            <i>Interest Free Banking</i><br><hr>
            Log in</mat-card-title>
        </mat-card-header>
        <hr>
        <form class="example-form">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password">
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button  style="background-color: rgb(43, 110, 4); color:white" class="btn-block">OK</button>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
</div>
