
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<!-- Creates a layout with a left-positioned sidenav and explicit content. -->

<app-header title='IFB'></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
 <!--
<div class="row">
  <div class="col-md-12 col-xl-12" >
    <app-header title='IFB'></app-header>
  </div>
<router-outlet></router-outlet>
--> 
    <!--
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>

    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  style="color:white;">Our Products</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" tabindex="10">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navabarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a  class="nav-link" (click)="onOpenModal(null,'add')" href="#addProdutModal">Add Product<span class="sr-only">(currunt)</span></a> 
          </li>
      
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input type="search" name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Product ...">
        </form>
    </div>
  </nav>
  
<div class="container" id="main-container">
 
    <div class="row">
        <div   *ngFor="let product of products" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{product?.productModel}}</h5>
                        <p class="m-0">{{product?.productDescription}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{product?.productId}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{product?.productCategory}}</li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{product?.productUprice}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{product?.productColor}}</li>
                  </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a  (click)="onOpenModal(product,'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a  (click)="onOpenModal(product,'delete')" href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  -->
    <!--add Product Modal-->
<!--
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addProductModalLabel">Add Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      
      </div> -->
      <!--       start add modal body-->
         <!-- <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)">
            <div class="form-group">
              <label for="category">Category</label>
              <input class="form-control form-control-md" type="text" ngModel name="category" placeholder="Enter Category" required>
              </div>
              <div class="form-group">
              <label for="color">Color</label>
              <input class="form-control form-control-md" type="text"  ngModel name="color" placeholder="Enter Color" required>
              </div>
              <div class="form-group">
              <label for="description">Description</label>
              <input class="form-control form-control-md" type="text"   ngModel name="description"placeholder="Enter Description" required>
              </div>
              <div class="form-group">
                  <label for="model">Select Model</label>
                  <select class="form-control" id="selectModel" ngModel name="model">
                    <option>Mazda</option>
                    <option>Nissan</option>
                    <option>Toyota</option>
                  </select>
                </div>
              <div class="form-group">
              <label for="qty">Quantity</label>
              <input class="form-control form-control-md" type="text" ngModel name="qty" placeholder="Enter Quantity" required>
              </div>
              <div class="form-group">
              <label for="price">Price</label>
              <input class="form-control form-control-md" type="text" placeholder="Enter Price" required>
              </div>
          </form>
        </div> 
          
    
      
      <div class="modal-footer">
        <button type="button" id="add-product-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button  [disabled]="addForm.invalid"  type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="updateProductModal" tabindex="-1" aria-labelledby="updateProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateProductModalLabel">Update Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="onUpdateProduct(updateForm, updateProduct.productId)">
            <div class="form-group">
              <label for="category">Category</label>
              <input type="text" class="form-control form-control-md"  ngModel="{{updateProduct?.productCategory}}" name="category" placeholder="Enter Category" required>
              </div>
              <input type="hidden" ngModel="{{updateProduct?.productId}}"  class="form-control form-control-md" id="id">
              <div class="form-group">
              <label for="color">Color</label>
              <input class="form-control form-control-md" type="text"  ngModel="{{updateProduct?.productColor}}" name="color" placeholder="Enter Color" required>
              </div>
              <div class="form-group">
              <label for="description">Description</label>
              <input class="form-control form-control-md" type="text"   ngModel="{{updateProduct?.productDescription}}" name="description"placeholder="Enter Description" required>
              </div>
              <div class="form-group">
                  <label for="model">Select Model</label>
                  <select class="form-control" id="selectModel" ngModel="{{updateProduct?.productModel}}" name="model">
                    <option>Mazda</option>
                    <option>Nissan</option>
                    <option>Toyota</option>
                  </select>
                </div>
              <div class="form-group">
              <label for="qty">Quantity</label>
              <input class="form-control form-control-md" type="text" ngModel="{{updateProduct?.productQuantity}}" name="qty" placeholder="Enter Quantity" required>
              </div>
              <div class="form-group">
              <label for="price">Price</label>
              <input class="form-control form-control-md" type="text" ngModel="{{updateProduct?.productUprice}}" placeholder="Enter Price" required>
              </div>
          </form>
        </div>
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="onUpdateProduct(updateForm.value,updateProduct.productId)" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteProductModalLabel">Delete Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</div>
-->